html,
body {
  height: 100vh;
}

body {
  margin: 0 auto;
  background-color: lightblue;
}

header {
  font-size: 2em;
  font-family: arial;
  color: green;
}

.bio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-name {
  font-size: 1.5em;
  font-family: arial;
  color: darkgreen;
}

img {
  border-radius: 5em;
}

p {
  font-family: arial;
  color: lightgreen;
}
